@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
    background-color: #1e1e1e;
    color: white;
    font-family: 'Montserrat';
    overflow-x: hidden;
    text-align: center;
    font-size: larger;
}

.menu{
    /* background-color: blue; */
    position: absolute;
    top: 50px;
    right: -200px;
    width: 200px;
    height: calc(100% - 50px);
    /* animation: pop-in 1s forwards; */
    text-align: left;
    display: grid;
    grid-template-columns: auto;
    align-content: start;
    border-top-left-radius: 10px;
    background-color: rgb(75,75,75,0.95);
}

/* .menu-info{
    position: relative;
    right: -75px;
    top: -25px;
    display: grid;
} */

.menu-button{
    width: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
}

a#link{
    font-size: xx-large;
    text-decoration: none;
    color: white;
    transition-duration: .1s;
    padding: 0px 10px;
}

a#link:hover{
    cursor: pointer;
    color: #0484d1;
    padding: 0px 20px;
}

@keyframes pop-in {
    to{right: 0px;}
}

@keyframes pop-out {
    from{right: 0px;}
    to{right: -200px;}
}

.projects{
    position: relative;
    width: 80%;
    left: 10%;
}

a{
    padding: 10px;
    font-size: x-large;
    text-decoration: none;
    color: white;
    transition-duration: .1s;
}

a:hover{
    color: #0484d1;
}

#titleLogo{
    width: 500px;
}

#new-game-widget{
    width: 552px;
    height: 167px;
}

.projects iframe{
    width: 552px;
    height: 167px;
}

@media only screen and (max-width: 1000px){
    #titleLogo{
        width: 50%;
    }
    .projects{
        /* display: grid; */
        /* grid-template-columns: auto auto; */
        position: relative;
        width: 80%;
        left: 10%;
    }
    #new-game-widget{
        width: calc(75%);
    }
    .projects iframe{
        width: calc(75%);
    }
}
