/* Colours: #323232 #A0DDFF #758ECD C1CEFE #7189FF #D7DEDC #3083DC */

@font-face {
    font-family: OCR A;
    src: url(/fonts/OCRAEXT.TTF);
}

html{
    background-color: #111111;
}

p{
    font-family: OCR A;
    text-align: center;
    color: white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    border: transparent;
    border-radius: 10px;
}
  
/* li{
    float: left;
} */

a.button{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: OCR A;
    color: #FFFFFF;
    width: 100px;
    height: 30px;
    border: transparent;
    border-radius: 5px;
}
  
a:hover.button{
    background-color: #292929;
    animation: buttonHover .25s forwards;
}

@keyframes buttonHover {
    to {font-size: 20px;}
}

a.projectButton{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: OCR A;
    color: #FFFFFF;
    width: 200px;
    height: 30px;
    border: transparent;
    border-radius: 5px;
    background-color: #444444;
}

a:hover.projectButton{
    background-color: #292929;
    animation: buttonHover .25s forwards;
}

a.playButton{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: OCR A;
    color: #FFFFFF;
    width: 200px;
    height: 30px;
    border: transparent;
    border-radius: 5px;
    background-color: #444444;
}

a:hover.playButton{
    background-color: #292929;
    animation: buttonHover .25s forwards;
}

li.side{
    position: absolute;
    right: 10px;
}

h1{
    font-family: OCR A;
    text-align: center;
    color: white;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fade{
    animation: fade 2s;
}

@keyframes fade{
    from {opacity: 0;}
    to {opacity: 1;}
}

#game{
    background-color: black;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transparent{
    opacity: 0;
}
#FlappyBird{
    background: linear-gradient(aqua 75%,lime 75%);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageLeft{
    position: absolute;
    left: 10%;
    width: 500px;
}

.imageRight{
    position: absolute;
    right: 10%;
    width: 500px;
}