@font-face {
    font-family: Minecraft;
    src: url(../fonts/MINECRAFTREGULAR-BMG3.OTF);
}

html{
    background: linear-gradient();
    background-repeat: no-repeat;
    background-color: #111111;
    height: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-family: Minecraft;
    text-align: center;
}

p{
    font-family: Minecraft;
    text-align: center;
}

.players{
    position: absolute;
    right: 20px;
    width: 100px;
    border-style: solid;
    border-color: gray;
    padding: 25px;
}

.famcraftimg{
    width: 50px;
    position: absolute;
    left: 20px;
    top: 20px;
}

div.news{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    border-style: solid;
    border-color: blue;
}

div.newsstory{
    border-style: solid;
    border-color: red;
    margin: 15px;
}

div.news h2{
    color: blue;
}

div.newsstory h3{
    color: red;
}

div.newsstory p{
    color: blue;
}