#color{
    background-color: black;
    color: white;
    font-family: OCR A, Courier;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0px;
    filter: invert(1);
    font-size: 50px;
    border-radius: 20px;
    border: 10px solid white;
    padding: 20px;
    width: 200px;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

a.button{
    background-color: #333;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: OCR A, Courier;
    width: 100px;
    height: 30px;
}
  
a:hover.button{
    background-color: #111;
}